output/
trash/
.snakemake/
conda_base/
logs/
._*
data_mirror*
data_mirror/
trash*/
split_peptide*
__pycache__/
help/
output

.onstart.txt
.onsuccess.txt
.diff.txt

private* # This stuff is private
.Rproj.user*
